<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HCFrontend"
        tools:targetApi="31">
        <activity
            android:name=".view.RegistrarPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".view.PacienteActivity"
            android:exported="false" />
        <activity
            android:name=".view.AtualizarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".view.TelaUsuarioActivity"
            android:exported="false" />
        <activity android:name=".view.ListaMedicamentosActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.RegistroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".view.MarcarConsultaActivity"
            android:exported="false" />
        <activity
            android:name=".view.ConsultaActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TelaMedicamentosActivity" />
        <activity android:name=".view.MenuActivity" />
        <receiver android:name=".notifications.AlarmReceiver" android:exported="false" />
    </application>

</manifest>